#Create and Alchemy account and paste your Goerly https api here
GOERLI_URL=https://eth-goerli.g.alchemy.com/v2/LkMA3sDD_aMooMT1QeczTeZlHnA91-h

#This is a PK wallet created only for this project. Update it if you want to deploy your own contract
ADMIN_PRIVATE_KEY=
